<table class="table table-bordered" style="text-align: center">
  <thead class="thead-light">
    <tr>
      <th colspan="2" scope="col">Lundi</th>
      <th colspan="2" scope="col">Mardi</th>
      <th colspan="2" scope="col">Mercredi</th>
      <th colspan="2" scope="col">Jeudi</th>
      <th colspan="2" scope="col">Vendredi</th>
      <th colspan="2" scope="col">Samedi</th>
      <th colspan="2" scope="col">Dimanche</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>8:30</td>
      <td>13:00</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>RH</td>
      <td>RH</td>
      <td>8:30</td>
      <td>14:30</td>
      <td>8:30</td>
      <td>13:30</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
        <td>15:30</td>
        <td>20:45</td>
        <td>14:30</td>
        <td>20:45</td>
        <td>13:30</td>
        <td>20:45</td>
        <td>RH</td>
        <td>RH</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
  </tbody>
</table>
